

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label{
  font-weight: bold;
  color:black;
}

.field-checkbox{
  padding: 20px;
  border: 1px ;

}
.form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.p-field{
  padding: 20px;
  border: 1px ;
  border-radius: 5px;
}

